.git
.github
.venv
**/__pycache__
**/*.py[oc]
**/.pytest_cache
**/.ruff_cache
.coverage
htmlcov

frontend/node_modules
frontend/dist

management-console/management-frontend/node_modules
management-console/management-frontend/dist

Documents
tests
deploy
*.md
!README.md

.env
.env.*
*.pem
*.key
